a{
    color: #2a6496;
}
a:focus{
    color: #2a6496;
    outline:0;
}
.panel-title > a {
    color: inherit;
}
a {
    background: transparent none repeat scroll 0 0;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { 
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}
.carousel-inner > .item > a > img {
    width: 100% \9;
}
.img-thumbnail {
    width: 100% \9;
}
hr {		
    margin-top: 0px; /*modifica*/		 
    margin-bottom: 10px; /*modifica*/		  
    border: 0;		
    border-color: #e5e5e5 !important;		
    border-top: 1px solid #eee;		  
}

.text-primary {		
    color: #428bca;		
}
.bg-primary {		
    color: #fff;		 
    background-color: #428bca;		 
}
blockquote {		
    padding: 10px 20px;		 
    margin: 0 0 20px;		
    font-size: 15.5px;		  
    border-left: 5px solid #eee;		  
}

@media (min-width: 768px) {		
    .container {		
        width: auto; /*modifica*/		  
    }		 
}		
@media (min-width: 992px) {		
    .container {		 
        width: auto; /*modifica*/		  
    }		 
}		
@media (min-width: 1200px) {		
    .container {		 
        width: auto; /*modifica*/	
    }		
}

.row {		
    margin-top: 60px; 		
}

.col-md-4 {		 
    width: 31%; /*modifica*/		
}

.col-lg-8 {		
    <!--width: 69%;--> /*modifica*/		  
    <!--padding-left: 30px;--> /*modifica*/		
    <!--padding-top: 50px-->; /*modifica*/		
}		
.col-lg-7 {		 
    width: 58.33333333%;		  
}		  
.col-lg-6 {		
    width: 97%; /*modifica*/		  
    max-height: 25em; /*modifica*/		
    overflow-x: hidden; /*modifica*/		
    overflow-y: auto; /*modifica*/		
}
.form-control::-moz-placeholder {		
    color: #777;		  
    opacity: 1;		  
}		
.form-control:-ms-input-placeholder {	
    color: #777;		
}		
.form-control::-webkit-input-placeholder {		
    color: #777;		


}

.checkbox {		

    min-height: 20px;		

}
.form-control-feedback {	 

    top: 25px;		 

}
@media (min-width: 768px) {		 
    .form-horizontal .form-group-lg .control-label {		  
        padding-top: 14.3px;		 

    }		 
}

.form-horizontal .has-feedback .form-control-feedback {		 
    top: 0;		

}
.btn {		 

    padding: 6px; /*modifica*/		  
    margin-bottom: 2px; /*modifica*/
}
.btn-primary {		 
    color: #fff;		 
    background-color: #428bca;		  
    border-color: #357ebd;		 
}

.btn-primary .badge {		
    color: #428bca;		  
}
.btn-link { 
    color: #428bca;		  
    cursor: pointer; 
}
.btn-link:hover,		 
.btn-link:focus {		 
    color: #2a6496;	 
}
.dropdown-menu > .active > a,		 
.dropdown-menu > .active > a:hover,		 
.dropdown-menu > .active > a:focus {	 
    background-color: #428bca; 
}
.dropup .dropdown-menu,		 
.navbar-fixed-bottom .dropdown .dropdown-menu {	 
    margin-bottom: 1px;		   
}
.btn-group > .btn:focus,		
.btn-group-vertical > .btn:focus {		
    outline: 0;		
}
.input-group {		 
    position: relative;		 
    display: table;		 
    border-collapse: separate;		  
    width: 100%		
}
.input-group-addon,		 
.input-group-btn {		 
    width: 11%;  		 
}
.nav .open > a,		 
.nav .open > a:hover,		 
.nav .open > a:focus {		 
    background-color: #eee;		   
    border-color: #afb218;		  
}
.nav-pills > li.active > a,		 
.nav-pills > li.active > a:hover,		 
.nav-pills > li.active > a:focus {		 
    color: #fff;		  
    background-color: #428bca;		 
}
.navbar-inverse .navbar-brand {		 
    color: #777;		 
}
.navbar-inverse .navbar-text {		 
    color: #777;		   
}		 
.navbar-inverse .navbar-nav > li > a {		 
    color: #777;		  
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {		 
    color: #777;		    
}
.navbar-inverse .navbar-link {		 
    color: #777;		 
}
.navbar-inverse .btn-link {		 
    color: #777;		  
}
.pagination > li > a,		 
.pagination > li > span {	  
    color: #428bca;		  
}
.pagination > li > a:hover,		 
.pagination > li > span:hover,		 
.pagination > li > a:focus,		 
.pagination > li > span:focus {		 
    color: #2a6496;		  
}
.pagination > .active > a,		 
.pagination > .active > span,		 
.pagination > .active > a:hover,		 
.pagination > .active > span:hover,		 
.pagination > .active > a:focus,		 
.pagination > .active > span:focus {		 
    z-index: 2;		 
    background-color: #428bca;		  
    border-color: #428bca;		 
}
.label-primary {		 
    background-color: #428bca;		  
}		 
.label-primary[href]:hover,		 
.label-primary[href]:focus {		 
    background-color: #3071a9;		 
}
a.list-group-item.active > .badge,		 
.nav-pills > .active > a > .badge {		 
    color: #1E90FF;		 
    background-color: #fff;		  
}
a.thumbnail:hover,		 
a.thumbnail:focus,		 
a.thumbnail.active {		 
    border-color: #428bca;		   
}
.progress-bar {		  
    background-color: #428bca; 
}
.list-group-item {	 
    position: inherit;
}
.list-group-item.active,		 
.list-group-item.active:hover,		 
.list-group-item.active:focus { 
    color: #ffffff;		  
    background-color: #428bca;		  
    border-color: #428bca;		   
}
.list-group-item.active .list-group-item-text,		 
.list-group-item.active:hover .list-group-item-text,		 
.list-group-item.active:focus .list-group-item-text {		 
    color: #e1edf7;		  
}
.panel-default > .panel-heading {		 
    color: #333;		  
    background-color: #ababab;		 
    border-color: #ddd;		  
}
.panel-primary {		 
    border-color: #333;		 
}		 
.panel-primary > .panel-heading {		 
    color: #fff;		  
    background-color: #333;		 
    border-color: #333;		 
}		 
.panel-primary > .panel-heading + .panel-collapse > .panel-body {		
    border-top-color: #428bca;		   
}		 
.panel-primary > .panel-heading .badge {		 
    color: #428bca;		  
    background-color: #fff;		  
}		  
.panel-primary > .panel-footer + .panel-collapse > .panel-body {	
    border-bottom-color: #428bca;		  
}
.panel-warning {		 
    border-color: #333;		 
}		 
.panel-warning > .panel-heading {		 
    color: white;		   
    background-color: #333;		 
    border-color: #333;		 
}
.modal-body {		 
    position: relative;		  
    padding: 30px;		   
    overflow: hidden		
}		
.modal-body button{		
    border-radius: 4px;		
    color: #5379fa;		
    float: right;		
}		
.modal-body button:hover {		
    /*opacity: 0.8;*/		
    background-color: #5379fa;		
    color: white;		
}
.col-md-offset-3{
    margin-top: 5%;
}
body {		 
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/		  
    font-family: 'Exo', sans-serif;		
    font-size: 14px;		  
    line-height: 1.42857143;		   
    color: #333;		 
    background-color: #fff;		  
}


/*Aggiunte*/		
#navigation {		
    box-shadow: 0 3px 17px 0 rgba(50, 50, 50, 0.55);		
}		

/*#listaDocumenti, #document-annotation-list {		
        word-break: break-all;		
}*/		

.col-lg-6 p {		
    font-weight: bold;		
}		

.activeLink {		
    font-weight: bold;		
    color: darkblue;		
    text-decoration: none;		
    pointer-events: none;		
    cursor: default;		
}		

#annotatore .input-group {		
    padding: 12px;		
}		

.annotator-mode {		
    pointer-events: none;			
}		

 		



.filtri {		
    margin-bottom: 15px;		
    padding-left: 15px;		
    padding-right: 15px;		
    clear: both;		
    display: table;		
    widtH: 100%;		
}		

.well h3 {		
    padding-left: 15px;			
}		
@media screen and (max-width: 991px) {		
    #file {		
        width: 100%;		
    }		
}		

@media screen and (max-width: 400px) {		
    .filtri label {		
        width: 100% !important;		
    }		
}		

@media screen and (min-width: 991px) and (max-width: 1250px){		
    .filtri label {		
        width: 100% !important;		
    }		
}		

.filtri label {		
    width: 50%;		
    float: left;		
}		

.modal-footer button {		
    width: 35%;		
    margin-right: 12px;		
}		

.modal-body label {		
    display: block;		
    margin-left: auto;		
    margin-right: auto;		
    width: 85%			
}		

.tipi-annot {		
    padding: 10px 0px 10px 0;			
}		

.dialogAnnotazione {		
    overflow: auto;		
    word-spacing: -10px;		
}		

.dialogAnnotazione .glyphicon {		
    width: 100%;			
}		

.dialogAnnotazione .well {		
    margin-bottom: 7px;		
    margin-top: 10px;		
    text-align: justify;		
}		

.modal-body-title {		
    margin-bottom: 15px;			
}		

#textArea, #citationArea {		
    padding-top: 14px;			
}		

#instance-widget, #choice-widget, #shortText-widget, #longText-widget,		
#date-widget, #citation-widget, #dbpedia-widget {		
    padding: 0px 12px 0px 12px;			
}		

div[id*="widget"] h4 {		
    margin-left: -12px;		
}		

#longText-widget textarea {		
    resize: none;		
}		

#citationArea .form-control {		
    margin-top: 10px;			
}		

#ann-table label {		
    width: 100%;			
}		

#ann-table td {		
    word-break: break-all;			
}		

#documento {		
    width: 25%;			
}		

#valore {		
    width: 40%;			
}		

#gestione-annotazioni .modal-footer button{		
    width: 110px;		
    margin-right: 0px;		
}		

#resourcePlaceDiv > h4, #resourceDiv > h4 {		
    padding-top: 12px;		
}		

#resourcePlaceDiv p, #resourceDiv p {		
    margin-bottom: 14px;			
}		

#dbpedia-widget .input-group-btn,		
#instance-place .input-group-btn {		
    width: 1%;			
}		

#descrizioneRisorsa, #descrizioneRisorsaPlace {		
    border-style: solid;		
    border-width: 1px;		
    margin-top: 17px;		
    padding: 10px;		
    text-align: justify;			
}		

#instance-place .well, #dbpedia-widget .well {		
    margin-bottom: 6px;		
    margin-top: 17px;		
    text-align: justify;		
}		

.noResult {		
    padding-top: 25px;			
}		

#valorePrec {		
    padding-bottom: 15px;		
    word-break: break-all;		
}		
#contentDocumento {		
    border-radius: 4px;		
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);		
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);		
}		
#presentazione p {		
    margin-bottom: 20px !important;		
}		
.closer {		
    padding: 0;		
    cursor: pointer;		
    background: transparent;		
    border: 0;		
    -webkit-appearance: none;		
    float:right;		
    width: 15px;		
    font-size: 22.5px;		
    font-weight: bold;		
    line-height: 1;		
    color: #000000;		
    text-shadow: 0 1px 0 #ffffff;		
    opacity: 0.2;		
}		
.closer:hover{		
    color: red;		
}		
#listaDoc {		
    background-color: #ffffff !important;		
}		
.fissa {		
    position: fixed;		
}		
#rash {		
    color: #a4af04;		
}		
#userLoggedIn span{		
    font-family: 'Exo', sans-serif;		
    color: white;		
    opacity: 0.9;		
    padding-left: 10px;		
}		
#colonnaSinistra{		
    position: fixed;		
}		
#file {		
    float: right;	
    width: 69%; 		
}

.navbar-right{
    margin-right: 0px;
}
#page-container-document{
    margin-top: 50px;
    
}
#listDocument{
    margin-bottom: 15px;
}
#id-body{
    padding: 3px;
}
#judge1{
    float:right;
    margin-top:15px;
    border-color:black;
}
#mode{
    float:left;
    margin-top:15px;
    background-color:red;
    border-color:black;
}
#reject{
    float:left;
    width: 15em;  
    height: 4em;
    color:white;
    font-size : 15px;
}
#accept{
    float:right;
    width: 15em;  
    height: 4em; 
    color:white;
    font-size : 15px;
}